@media(max-width:375px){
    body{
        font-family: 'Public Sans',sans-serif;
        font-weight: 700;
    }

    .menu{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

    }
    .flex{
        

    }
}