.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
}

.container div{
    background-color: burlywood;
    color: purple;
    width: 100px;
    height: 100px;
    margin: 10px;
}

