div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.com-border-box{
    background-color: aquamarine;
}

.sem-border-box{
    background-color: brown;
    
}