
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap')




p {
    font-family: "Jersey 10 Charted", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

